@import url("https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister");

body {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 1.1em;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.starry {
  background: url(starry.png);
  background: url(starry.svg), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: center center;
}

.black {
  background-color: black;
}

form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  margin: 50px;
  border: 1px solid #888;
  border-radius: 15px;
}

div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1vh;
}

label {
  flex: 1;
  padding: 10px;
}

input,
p {
  flex: 2;
  padding: 10px;
}

select {
  -webkit-appearance: menulist-button;
  flex: 2;
  padding: 20px;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: 0;
}
