/* @import url("https://fonts.googleapis.com/css?family=Playfair+Display"); */

body {
  font-family: "Playfair Display", "Verdana", cursive;
  font-size: 0.9em;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  padding: 0;
  margin: 0;
}

.dropoverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 4rem;
  display: none;
  z-index: 99;
  align-items: center;
  justify-items: center;
}

body.drophover > .dropoverlay {
  display: grid;
}

form {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

h1 {
  font-size: 4.2rem;
  padding: 0 0 30px 0;
  margin: 0;
  text-align: center;
}

div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1vh;
}

label {
  flex: 1;
  padding: 10px;
}

input,
button,
textarea {
  flex: 2;
  padding: 10px;
}

select {
  -webkit-appearance: menulist-button;
  flex: 2;
  padding: 20px;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 0;
  display: grid;
  align-items: center;
  justify-items: center;
}

#progress {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.shape-option {
  display: none;
}

.show-option {
  display: flex;
}

ul {
}

li {
  display: grid;
  grid-template-columns: [col1-start] 1fr [col2-start] 4fr [col2-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}
li > i {
  grid-column: col1-start;
  grid-row: row1-start / row2-end;
}
li > b {
  grid-column: col2-start;
  grid-row: row1-start;
}
li > p {
  grid-column: col2-start;
  grid-row: row2-start;
}
