/* @import url("https://fonts.googleapis.com/css?family=Playfair+Display"); */

body {
  font-family: "Playfair Display", "Verdana", cursive;
  font-size: 0.9em;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  padding: 0;
  margin: 0;
}

.dropoverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 4rem;
  display: none;
  z-index: 99;
  align-items: center;
  justify-items: center;
}

body.drophover > .dropoverlay {
  display: grid;
}

form.basic {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

h1 {
  font-size: 4.2rem;
  padding: 0 0 30px 0;
  margin: 0;
  text-align: center;
}

div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

label {
  flex: 1;
  padding: 10px;
}

input,
button,
textarea,
ul {
  flex: 2;
  padding: 10px;
}

select {
  -webkit-appearance: menulist-button;
  flex: 2;
  padding: 20px;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 0;
  display: grid;
  align-items: center;
  justify-items: center;
}

#progress {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

.shape-option {
  display: none;
}

.show-option {
  display: flex;
}

/* New UI */

form.newui {
  display: none;
  /* display: grid; */
  position: fixed;
  grid-template-columns: [menu] 1fr [options-start] 2fr [options-end];
  grid-template-rows: auto;
  top: 0;
  left: 0;
  width: 40vw;
  height: 40vh;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

ul {
  padding: 0;
  margin: 0;
}

ul.menu {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 5px;
}

ul.menu > li {
  display: grid;
  transition: 0.1s linear;
  padding: 10px;
  align-items: center;
}

ul.options {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: max-content;
  grid-gap: 5px;
  overflow: scroll;
}

ul.options > li {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: [preview] minmax(70px, auto) [opt1-start] 4fr [opt2-start] 4fr [opt3-start] 4fr [opt3-end];
  grid-template-rows: [top-start] max-content [mid-start] auto[bottom-start] max-content [bottom-end];
  transition: 0.1s linear;
  padding: 5px;
}
li:hover {
  background-color: #f8f8f8;
}
li > img {
  grid-column: preview;
  grid-row: top-start / bottom-end;
  width: 60px;
  height: 60px;
  padding: 5px;
  background-color: #888888;
}
li > b {
  grid-column: opt1-start / opt3-end;
  grid-row: top-start;
  align-self: flex-start;
  justify-self: flex-start;
  padding: 0 5px;
}
li > p {
  grid-column: opt1-start / opt3-end;
  grid-row: mid-start;
  align-self: flex-start;
  justify-self: flex-start;
  font-size: 0.7rem;
  padding: 5px 5px;
  margin: 0;
}
li > div {
  text-align: center;
  color: #ffffff;
  background-color: #008800;
  border-radius: 3px;
  font-size: 0.6rem;
  padding: 3px;
  align-self: baseline;
  justify-self: stretch;
}
li > div:nth-of-type(1) {
  grid-column: opt1-start / opt2-start;
  grid-row: bottom-start;
}
li > div:nth-of-type(2) {
  grid-column: opt2-start / opt3-start;
  grid-row: bottom-start;
}
li > div:nth-of-type(3) {
  grid-column: opt3-start / opt3-end;
  grid-row: bottom-start;
}
